doctype html
html
  head
    meta(charset='utf-8')
    title #{locals.title}

    script(type='text/javascript', src='/js/utils/jquery.min.js')
    script(type='text/javascript', src='/js/utils/jquery.i18n.properties-min.js')
    script(type='text/javascript', src='/js/utils/moment.min.js')
    script(type='text/javascript', src='/js/utils/moment+locales.min.js')
    script(type='text/javascript', src='/js/utils/store+json2.min.js')
    script(type='text/javascript', src='/js/utils/underscore-min.js')
    script(type='text/javascript', src='/js/utils/backbone-min.js')
    script(type='text/javascript', src='/js/utils/handlebars.js')
    script(type='text/javascript', src='/js/dom/jquery.tipsy.js')

    script(language='javascript', type='text/javascript', src='/js/visuo/jquery.peity.min.js')
    script(language='javascript', type='text/javascript', src='/js/visuo/flot/jquery.flot.js')
    script(language='javascript', type='text/javascript', src='/js/visuo/flot/jquery.flot.tickrotor.js')
    script(language='javascript', type='text/javascript', src='/js/visuo/flot/jquery.flot.pie.min.js')
    script(language='javascript', type='text/javascript', src='/js/visuo/flot/jquery.flot.resize.js')
    script(language='javascript', type='text/javascript', src='/js/visuo/flot/jquery.flot.stack.js')
    script(language='javascript', type='text/javascript', src='/js/visuo/gauge.min.js')
    script(language='javascript', type='text/javascript', src='/js/visuo/d3/d3.min.js')
    script(language='javascript', type='text/javascript', src='/js/visuo/d3/d3.layout.min.js')
    script(language='javascript', type='text/javascript', src='/js/visuo/rickshaw/rickshaw.min.js')


  body
    div#sidebar
      div#new-install-overlay
      div#sidebar-top
        a(href='#/')
          div#sidebar-logo
        div#sidebar-app-select
          div.logo
          div.text Mana
      div#sidebar-menu
        a(herf='#/').item.active
          div.logo.dashboard
          div.text(data-localize='sidebar.dashboard') dashboard
        a(herf='#/').item#analytics-menu
          div.logo.analytics
          div.text(data-localize='sidebar.analytics') analytics
        a.item#management-menu
          div.logo.management
          div.text(data-localize='sidebar.management') management
        a.item#sidebar-events
          div.logo.events
          div.text(data-localize='sidebar.events') events
        a.item#sidebar-reports
          div.logo.reports
          div.text(data-localize='sidebar.reports') reports

      div#sidebar-bottom-container
        div.menu
          a.item#account-settings(data-localize='sidebar.settings')
          a.item#user-logout(href='/logout' data-localize='sizebar.logout')
        div#language-menu
          div.group
            a.item(data-language-code='de') Deutsch
            a.item(data-language-code='en') English
            a.item(data-language-code='it') Italiano
          div.group
            a.item(data-language-code='zh') 中文
            a.item(data-language-code='ja') 日本語


    div#app-nav
      div#app-nav-head
        div#app-nav-title
        div.button-container
          div.icon-button.dark.help-zone-vs#sort-app-button
            div.icon
      div.apps-scrollable
      div#sidebar-new-app
        div.app-container.app-navigate
          div.logo
          div.name
          div.drag


    div#content-container
      div#content-top
      div#content
        div#content-loader


    Script#template-date-selector(type='text/x-handlebars-template')
      div#date-selector.help-zone-vs
        #date-picker-button.calendar
        #date-picker
          .tip
          .calendar-container
            #date-from.calendar
            #date-to.calendar
          .button-container
            #date-submit.cly-button-dark(style='float: right;', data-localize='common.apply')
        #month.button.date-selector
        #hour.button.date-selector
        #7days.button.date-selector
        #30days.button.date-selector
        #60days.button.date-selector


    Script#dashboard-template(type='text/x-handlebars-template')
      .widget
        .widget-header
          .title(style='letter-spacing:-1px; font-size:19px; margin-top:10px; margin-left:5px;') {{page-title}} 
          | {{> date-selector}}
        .widget-content
          #big-numbers-container.dashboard
            | {{#each usage}}
            .big-numbers.six-column.help-zone-vs(data-help-localize='{{this.help}}')
              .inner
                .logo
                .number 
                  | {{this.data.total}}
                .trend(style="background-image:url('/images/dashboard/{{this.data.trend}}trend.png');")
                  .change  {{this.data.change}}
                .spark
                  //span(class="{{this.data.trend}}sparkline")  {{this.data.sparkline}}
                  span(class="{{this.data.trend}}sparkline")
                div(id="{{this.id}}").select
                  .title {{this.title}}
                .arrow
            | {{/each}}
        .widget-footer(style='height:220px; padding-top:20px; padding-bottom:10px; overflow:visible; box-shadow:none;')
          #dashboard-graph.graph(style='height:100%; margin-left:-10px;')

      .dashboard-summary
        | {{#each bars}}
        .item.help-zone-vs(data-help-localize='{{this.help}}')
          .inner
            .title  {{this.title}}
            | {{#if this.data}}
            .bar
              | {{#each this.data}}
              .bar-inner(style="width:{{this.percent}}%;" data-item="{{this.name}}")
              | {{/each}}
            .number(data-item="{{this.data.0.name}}")  {{this.data.0.name}}
            | {{else}}
            .no-data(data-localize='common.bar.no-data')
            | {{/if}}
        | {{/each}}
      .widget.map-list.help-zone-vb
        | {{#if country-data}}
        .map-list-right
          | {{#each country-data}}
          .map-list-item
            .flag
            .country-name
            .total
          | {{/each}}
        | {{/if}}
        #geo-char-outer

    Script(type='text/javascript', src='/js/mana/mana.config.js')
    Script(type='text/javascript', src='/js/mana/mana.common.js')
    Script(type='text/javascript', src='/js/mana/mana.session.js')
    Script(type='text/javascript', src='/js/mana/mana.graph.js')    
    Script(type='text/javascript', src='/js/mana/template.js')
    link(rel='stylesheet', href='/styl/dashboard.css')
